* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

.dark {
    background-color: cadetblue;
    margin-bottom: 20px;
}

.light {
    background-color: lightcoral;
}