/* Variables */
:root {
    --sidebar-width: 200px;     
}

/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
    /* DEBUG */
    background-color: lightslategray;
}

.header-nav ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

/* MAIN */
.container {
    display: flex;

    /* DEBUG */
    min-height: 600px;
    background-color: lightblue;
}

.container nav {
    width: var(--sidebar-width);
    padding: 20px 10px;
    /* DEBUG */
    background-color: lightseagreen;
}

main {
    /* flex-grow: 1; */
    width: calc(100% - var(--sidebar-width));
    padding: 20px;
    /* DEBUG */
    background-color: lightpink;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    /* DEBUG */
    background-color: lightyellow;
}